/**
 * STYLES.CSS -- Hivemind
 * Allen Guo <allenguo@berkeley.edu>
 */

html, body {
    background-color: #F9F9F9;
    color: black;
    font-size: 62.5%;
    min-width: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;     
    font-family: "Helvetica", "Open Sans", sans-serif;
}

a, a:hover {
    color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
}

span.hint--bottom {
    border-bottom: 0.1rem dashed #222;
}

table {
    margin-top: 2.5rem;
}

th {
    cursor: pointer;
}

th::after {
    content: url('../images/bg.gif');;
}

th.headerSortDown::after {
    content: url('../images/desc.gif');
}

th.headerSortUp::after {
    content: url('../images/asc.gif');;
}

#top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8rem;
    background-color: #050505;
    color: white;
    line-height: 8rem;
    min-width: 60rem;
    font-size: 3em;
}

#top a {
    color: white;
    float: right;
}

#title {
    font-size: 1.8em;
}

#main {
    margin-top: 11rem;
    font-size: 2.8em;
}

#footer { /** Actually inside #main **/
    font-size: 0.75em;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.box {
    border-left: 0.6rem solid black;
    padding-left: 1.5rem;
    color: black;
    font-size: 1.15em;
}

.box p {
    margin: 0.5em 0 0 0;
    line-height: 120%;
}

.rating {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.05em;
}

.rating-4 {
    color: #666;
}

.rating-3 {
    color: #D32F2F;
}

.rating-2 {
    color: #F57C00;
}

.rating-1 {
    color: #388E3C;
}
